extends ./layout.pug

block pre-include
  - var menu = 'setting';
  - var childMenu = 'shipping_fee';
  title Phí vận chuyển

block post-include
  script(src=staticURI() + '/js/admin/shipping_fee.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Cấu hình
      li
        a Phí vận chuyển
      li
        a Thêm mới phí vận chuyển

  section.content.shipping-fee(style="min-height: 500px")
    .row
      h3.text-primary.title(style="padding-left: 20px") Thêm mới phí vận chuyển
      .col-sm-8.col-xs-12
        div.text-right(style="width: 100%;")
          button.btn.btn-primary.hidden.btn-shipping-add(data-toggle="modal", data-target="#modal-subregion") Thêm Phương thức &nbsp;
            i.fa.fa-plus
        .row(style="margin-top: 20px")
          .col-sm-12.box-shipping-fee
      .col-sm-4.col-xs-12
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title TỈNH / THÀNH PHỐ
            .box-body
              .form-group
                .col-sm-12
                  .list-region.clearfix
                    select.chosen-select(data-placeholder="Mời chọn tỉnh/thành phố")
                      option(value=-1) Mời chọn tỉnh/Thành phố...
                      each region in regions
                        option(value=region.id)=region.name
    include snippet/modal-subregion