script#item-image(type="text/x-tmpl").
  <div class="image col-xs-2" data-name={%=o.name%}>
    <img src={%=o.src%}/>
    <span class="rotate">
      <i class="fa fa-undo"></i>
    </span>
    <span class="remove">
      <i class="fa fa-times"></i>
    </span>
  </div>

script#search-product(type="text/x-tmpl").
  <li>
   <a href="/san-pham/{%=o.handle%}">
     <img src='/uploads/{%=o.featured_image%}'>
     <span>{%=o.title%}</span>
     <span class="price">{%=o.price%}</span>
      <span class="price-compare">{%=o.price_compare%}</span>
   </a>
  </li>
